@page
@model CrudProductos.Pages.Productos.IndexModel
@{
    ViewData["Title"] = "Lista de Prodcutos";
}
<h1>Lista de Productos</h1>
<a class="btn btn-outline-primary mb-3" asp-page="Crear">Agregar Nuevo Producto</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Fecha Creacion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var producto in Model.productos){
            <tr>
                <td>@producto.Id</td>
                <td>@producto.Nombre</td>
                <td>@producto.Precio</td>
                <td>@producto.Stock</td>
                <td>@producto.FechaCreacion</td>
                <td>
                    <a class="btn btn-outline-secondary btn-sm" asp-page="Editar" asp-route-id="@producto.Id">Editar</a>
                    <a class="btn btn-outline-danger btn-sm" asp-page="Borrar" asp-route-id="@producto.Id">Borrar</a>
                    <a class="btn btn-outline-info btn-sm" asp-page="Detalle" asp-route-id="@producto.Id">Detalle</a>
                </td>
            </tr>
        }
    </tbody>
</table>